
@mixin gale {
	width: 100%;
	border: 1px solid $muted;
	text-align: center;
	padding: 2%;
}

@mixin news ($bgcolor, $top) {
	background-color: $bgcolor;
	top: $top;
	position: absolute;
    left: 8%;
    color: #ffffff;
    font-weight: bold;
    padding: 0 3px 8px 3px;
    font-size: 1em;
    width: 40px;
}

@mixin border {
	border: 1px solid $muted;
	padding: 2%;
}

